:root {
  --color-primary: #0000ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius :50px;
  --color--body-darker:#5c5577;
}
*,*::after ,* ::before{
    box-sizing: border-box;
}
/* Typography */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}
/*lists*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(./images/tick.svg);
  padding-left: 3rem;
}
.list--tick.list__item {
  padding-left: 0rem;
  margin-bottom: 1rem;
}
@media screen and(min-width:1024px) {
  .list--tick.list__item {
    padding-left: 0;
  }
}
/*icons*/
.icon {
  width: 40px;
  height: 50px;
  margin-left: 0;
  
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white{
  fill: #fff;
}
.icon--small{
  width: 30px;
  height: 30px;
  
}
.icon-containner {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}
.icon-containner__accent{
  background: var(--color-accent);
}
.btn{
    background: hsl(30, 60%, 31%);
    border-radius: 50px;
    width: 30rem;
    height: 8rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
    padding: auto;
    margin-right: 2rem;
    margin-left: 2rem;
}
.btn--primary{
    background: var(--color-primary);
    color: #fff;
}
.btn--primary:hover{
    background: #ff3400;
    cursor: pointer;
}
.btn--secondary{
  background: var(--color-secondary);
  color: #fff;
  border: 0;
  width: 20rem;
  height: 8rem;
  padding-top: 2rem;
  
}
.btn--secondary:active{
  color: rgb(221, 170, 170);
  
}
.btn__strech{
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn--accent{
    background: var(--color-accent);
    color: #fff;
}
.btn--accent:hover{
    background: #1b0760;
}
.btn--block{
    width: 80%;
    font-display: inline;
    
}
@media screen and(min-width:1024px) {
    .btn{
        font-size: 1.5rem;
    }
    
}
/*inputs*/
.input{
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  font-size: 2rem;
  color: var(--color-headings);
  
}
::placeholder{
  color: #cdbfcd;


}
.input-group{
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input{
  border: 0;
  flex-grow: 1;
}
.input-group .btn{
  margin: 4px;
}
/*media*/
.media{
  display: flex;
}
.media_body{
  padding: 0 2rem;
  color: var(--color-body);
}
.media_title{
  margin-top: 0;
}
.media_image{
margin-top: 1rem;
}
/*quotes*/
.quote{
  font-style: italic;
  color: var(--color--body-darker);
  font-size: 3rem;
  line-height: 3rem;
}
.quote__text::before{
  content: open-quote;
}
.quote__text::after{
  content: close-quote;
}
.quote__author{
  font-size: 3rem;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 500;
}
.quote__company{
  font-size: 2rem;
  font-style: normal;
  opacity: 0.4;
}
.quote__line{
  position: relative;
  bottom: 10px;
  margin-left: 2rem;
}
@media screen and(min-width:1024px){
  .quote{
    font-size: 2rem;
  }
  .quote__author{font-size: 2.4rem;}
  .quote__company{font-size: 1.6rem;}
}
/*grids*/
.grid{
  display: grid;
}
@media screen and (min-width:768px) {
  .grid--1x2{
    grid-template-columns: repeat(2,1fr);
  }
  
}
@media screen and (min-width:1024px) {
  .grid--1x3{
    grid-template-columns: repeat(3,1fr);
  }
  
}
/*testimonials*/
.testimonial{
  padding: 3rem;
}
img{
  width:400px ; 
   height:400px; 
}
.grid{
  display: grid;
}
.testimonial__image-container{
  position: relative;
}
.testimonial__image {
  width: 100%;
  
}

.testimonial__image-container > .icon-containner{
  position: absolute;
  top :3rem;
  right : -32px;
}
@media screen and(min-width:768px) {
  .testimonial.quote{
    font-size: 2.4rem;
  }
  .testimonial.quote{
    margin-left: 4rem;
  }
}
/*callouts*/
.callout{
  padding: 4rem;
  border-radius: 5px;
}
.callout--primary{
  background: var(--color-primary);
  color: #fff;
}
.callout__heading{
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}
.callout.btn{
  align-self: center;
  justify-self: center;
}
@media screen and(min-width:768px){
  .grid--1x2{
grid-template-columns: 1fr,auto;
  }
  .callout.btn{
    justify-self: start;
    margin: 0 2rem;
  }
  .callout__content{
    text-align: left;
  }
}
/*collapsibles*/
.collapsible__header{
  display: flex;
  justify-content: space-between;
}
.collapsible__heading{
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__chevron{
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapble__content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
.collapsible--expanded .collapsible__chevron{
  display: rotate(0);
}
.collapsible--expanded .collapble__content{
  max-height: 100vh;
}
/*navigation bar*/
.nav{
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;

}
.nav__list{
  width: 100%;
  margin: 0;
}
.nav__item{
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  
}
.nav__item > a{
  color: #ccc;
  transition: color 0.3s;
}
.nav__item > a:hover{
  color: #fff;
}
.nav__toggler{
  opacity: .5;
  transition:  box-shadow .15s;
  cursor: pointer;
}
.nav.collapsible--expanded.nav__toggler{
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}
.im{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
@media screen and(min-widt:768) {
  .nav__toggler{
    display: none;
  }
  .nav__list{
    width: auto;
    display: flex;
    font-size: 1.6rem;
  }
  
}
/*heros page*/
.hero{
  clip-path: polygon(0% 0%,100% 0%,100% 90%,0% 100%);
}
.block--dark{
  background: #000;
  color: #7b858b;
}
.block--dark .block__heading{
  color: #fff;
}
.hero__tagline{
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;

}
.hero__image{
  width: 100%;
}
.block--skewed-left{
  padding-bottom: calc(var(--padding-verticall) + 4rem);
  clip-path: polygon(0% 0%,100% 0%,100% 90%,0% 100%);
}
.containner{
  max-width: 1140px;
  margin: 0 auto;
}
@media screen and(min-width:768px){
  .hero{
    margin-top: 0;
  }
  .her__content{
    text-align: left;
    align-self: center;
  }
  
}