<div class="callout callout--primary"> 
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Get ready to start ?</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A minima in dolorem dignissimos veniam, magni praesentium sequi libero repellendus, excepturi unde ratione expedita quisquam laborum quibusdam illum, nemo porro tenetur.</p>
        </div>
        <a href="#" class="btn btn--secondary btn__strech">Get started</a>
    </div>
    </div>