<nav class="nav collapsible">
    <a href="/"><img class="im"  src="css/images/bb.jpg"  alt="logo photo"></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="css/images/sprite.svg#menu"></use>
      </svg>
      <ul class="list nav__list collapble__content">
        <li class="nav__item" ><a href="#">hosting</a></li>
        <li class="nav__item"><a href="#">domain</a></li>
        <li class="nav__item"><a href="#">VPS</a></li>
        <li class="nav__item"><a href="#">pricing</a></li>
      </ul>
</nav>