<section class="block container">
    <div class="grid grid--1x3">
    <div class="plan">
        <div class="card card--primary">
            <header class="card__header">
                <h3 class="class__name">Entry</h3>
                <span class="plan__price">$14</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--secondary badge--small"></span>
                <span class="plan__discription">eas to start</span>
    
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Unlimited website</li>
                    <li class="list__item">Unlimited bandwidth</li>
                    <li class="list__item"> 3GB </li>
                    <li class="list__item">100BG ssd storage</li>
                </ul>
                <button class="btn btn--block">BUY NOW</div>
            </div>
        </div>