<div class="card testimonial">

    <div class="grid grid--1x2">
        <div class="testimonial__image-container">
            <img class="testimonial__image" src="css/images/bb.jpg" alt="class photo">
            <span class="icon-containner icon-containner__accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="css/images/sprite.svg#quotes"></use>
                  </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt soluta vitae voluptas assumenda eius officia sapiente distinctio et velit eos similique alias qui, impedit expedita neque eligendi! Voluptas, nulla dignissimos.</p>
        </blockquote>
        <footer><div class="media">
            <div class="media_image">
                    <svg class="icon icon--primary quote__line">
                        <use xlink:href="css/images/sprite.svg#line"></use>
                      </svg>
                 
            </div>
            <div class="media_body">
                <h3 class="media_title quote__author">Mequannt Acham</h3>
                <p class="quote__company">MQ company</p>
            </div>
        </div></footer>
        
    </div>
</div>
</div>